body {
  /* background-image: url(assets/img/Newspaper\ bg\ final.jpg); */
  /* height: 200vh; */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav__ul {
  border-top: 3px solid #6eb8b3;
  border-bottom: 3px solid #6eb8b3;
  font-size: 1.9rem;
}

.nav__ul li a {
  color: #224a49;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Barlow Condensed;
  filter: drop-shadow(2px 2px 0px #a9cabc);
}


.nav__ul li a:hover {
  color: #f15232;
}

/* added */
.nav-link {
  padding: 0;
}

.nav__ul__left {
  padding-left: 5rem;
}

.nav__ul__right {
  padding-right: 5rem;
}

.navbar-toggler {
  border-radius: 50%;
}

.navbar-toggler-icon {
  width: 2rem !important;
  height: 2.5rem !important;
}

.nav__img__pc {
  display: none;
}

.nav__margin__fix {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navbar-nav .nav-link.active {
  color: #f15232;
}


@media(max-width:1100px) {
  .nav__ul__left {
    padding-left: 1rem;
    font-size: 1rem;
  }

  .nav__ul__right {
    padding-right: 1rem;
    font-size: 1rem;
  }

}

@media(max-width:990px) {
  .nav__img__pc {
    display: block !important;
  }
}

@media(max-width:1000px) {
  .navbar-brand {
    padding-top: 0;
  }

  .nav__margin__fix {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .nav__ul {
    border: none;
    gap: 0;
    background-color: #438280;
  }

  .nav__img {
    display: none;
  }

  .nav__ul li {
    justify-content: flex-start;
    /* display: block; */
    /* margin: auto; */
    text-align: left;
    padding: 0 20px;

  }

  .nav__ul li:nth-child(2) {
    display: none;
  }

  .nav__ul li a {
    color: white;
    line-height: 55px;
    filter: none;
    font-weight: 100;
    font-family: Barlow Condensed;
    font-size: 26px;
  }

  .navbar-nav .nav-item.active {
    color: white;
    background-color: #f15232;
  }

  .navbar-nav .nav-link.active {
    color: white;
    background-color: #f15232;
  }

  .navbar-nav .nav-link.active::before {
    color: white;
    content: '\2605\00a0';
  }

  /* .nav__ul li a:hover::before{
        content: '\2605\00a0';
    } */
  .nav__ul__left {
    padding-top: 25px;
    padding-left: 0px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .nav__ul__right {
    padding-bottom: 25px;
    padding-right: 0px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .nav__img__pc {
    display: block !important;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  /* .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 1.2rem;
        color: #0e2431;
      } */

  .nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type="checkbox"]:checked~.logo {
    display: none;
  }
}

/* 
.slider_bg {
  position: relative;
  z-index: 1;
}

.container, .page_content > main .grid_row_cont, .page_content > main .grid_row, .page_content > main .benefits_cont, .page_content:not(.single_sidebar):not(.double_sidebar) .fw_row_content_wrapper {
  
  position: relative;
  
  margin-left: auto;
  margin-right: auto;
}

rs-fullwidth-wrap {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  overflow: visible;
  max-width: none !important;
}

rs-fullwidth-wrap {
  border-radius: 15px;
  overflow: hidden;
  left: 23px;
  width: calc(100% - 46px) !important;
  z-index: 1;
} */
.overlay {
  width: 100%;
  height: 150vh;
  background-image: url(assets/img/hiii.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.3; */
  /* animation-name: spin; */
  animation-duration: 40000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  overflow: hidden;





}

.image {
  width: 100%;
  height: 150vh;
  /* margin-bottom: 20px; */
  background-image: url(assets/img/green.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .overlay img{
  animation: bg_rotate infinite;
}

@keyframes bg_rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
} */

/* .overlay img{
  
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* animation-name{: spin; */
/* .overlay img{
  
animation-duration: 4000ms;
animation-iteration-count: infinite;
animation-timing-function: linear;
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




#welcome {
  /* height: 150vh; */
  background-image: url(assets/img/Full\ bg\ final.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#welcome img {
  z-index: 2;
  height: 100%;
  width: 100%;
}



/* #footer{
  height: 5vh;

} */

/* .dn{
  display: none;
} */

#sexy {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-around;


}

.welcome_durex {
  margin: 0 5rem;

}

.about-left-col,
.about-right-col {
  flex-basis: 40%;
  margin: 0 2rem;
}


@media (max-width:770px) {

  .about-left-col,
  .about-right-col {
    flex-basis: 100%;
    margin: 2rem 2rem;

  }

  #sexy {
    padding: 20px 0;
  }

  .welcome_durex {
    margin: 0 1.8rem;

  }

  #welcome {
    background-image: url(assets/img/Full\ bg\ for\ mobile\ with\ box.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

}



.carousel-item {
  transition: transform 1.1s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 1.1s;
}





.chomu1 {
  display: block;
}

.chomu2 {
  display: none;
}

@media (max-width: 640px) {
  .chomu1 {
    display: none;
  }

  .chomu2 {
    display: block;
  }
}



#gallery {
  /* background-image: url(assets/img/Photo\ Gallery\ bg\ amra\ kara.jpg); */
  background-image: url(assets/img/Photo\ Gallery\ bg\ mobile\ 682.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
}

.gallery_chomu1,
.gallery_chomu2 {
  display: block;
}

.gallery_chomu1 {
  z-index: 2;
}

.gallery_chomu2 {
  /* transform: translateX(-10%); */
  /* z-index: 1; */
  overflow: hidden;
}

.gallery_chomu3 {
  display: none;
}

.gallery_img {
  width: 22rem;
}

@media (max-width:912px) {

  #gallery {
    background-image: url(assets/img/Photo\ Gallery\ bg\ mobile\ 682.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75rem;
  }

  .gallery_chomu1,
  .gallery_chomu2 {
    display: none;
  }

  .gallery_chomu3 {
    display: block;
    margin: 0 auto;
  }

  .gallery_img {
    width: 15rem;
  }

  /* #gallery div img , #gallery div span{
    display:block;
  } */
}




.page_footer.ripped_footer {
  -webkit-mask-image: url(assets/img/ripped.svg);
  -webkit-mask-position: top center;
  -webkit-mask-size: 101%;
  -webkit-mask-repeat: no-repeat;
  margin-top: -40px;
  z-index: 3;
}

.page_footer {
  /* z-index: 1; */
  position: relative;
}

.page_footer {
  background-image: url(assets/img/Footer_bg_220.jpg);
  background-size: initial;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center center;
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #222222;
}

@media screen and (max-width: 767px) {
  .page_footer.ripped_footer {
    -webkit-mask-size: 500%;
  }
}



/* .page_footer .container {
  z-index: 2;
}

.container {
  width: 1170px;
  position: relative;

  margin-left: auto;
  margin-right: auto;

}

.footer_container {

  display: flex;

  justify-content: center;


  flex-wrap: wrap;

  align-items: center;
  overflow: visible;
  margin-left: -15px;
  margin-right: -15px;
}


.footer_container.col-one-two-one>.cws-widget {
  width: calc(25% - 30px);
}

.footer_container .cws-widget {

  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
}

.footer_container .cws-widget {
  margin-bottom: 0px;
  overflow: hidden;
}


.footer_container.col-one-two-one .cws-widget:nth-child(2) {
  width: calc(50% - 30px);
}

.footer_container .cws-widget:last-child {
  margin-bottom: 0;
}

.footer_container .cws-widget>*:not(.widget-title):not(:empty):not(.widget_carousel) {
  background: transparent;
  border-radius: 0;
}

.footer_container .cws-widget>*:not(.widget-title) {
  line-height: 1.91428;
}

.footer_container .cws_textwidget_content>* {
  padding: 0;
}

footer .logo_description {
  margin-bottom: 0;
}

.logo_description img {
  display: inline-block;
  vertical-align: middle;
}

footer img {
  height: auto;
}

footer img {
  max-width: 100%;
}

footer div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}


footer .cws-widget ul {

  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;

  align-items: center;
}

.footer_container .cws-widget ul li {
  position: relative;
  display: block;
  transition: all 0.3s;
  color: #bdbdbd;
}

.cws-widget ul.menu li {
  padding-left: 0;
  padding-right: 0;
}

.cws-widget ul li:first-child {
  background-image: none;
}

footer .cws-widget ul li,
footer .cws-widget ul li:hover {
  background-color: transparent;

}

footer .cws-widget ul.menu li .widgettitle,
footer .cws-widget ul li {
  border-bottom: 0;
}

.cws-widget ul.menu li .widgettitle,
.cws-widget ul li {

  padding: 0;

  background-position: top;
  background-size: 8px 2px;
  background-repeat: repeat-x;
}

footer ul>li {
  line-height: 2em;

  text-indent: 0;

}

.footer_container .cws-widget ul.menu li:before,
.footer_container .cws-widget ul.menu li:after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  display: block;
  left: 50%;

  transform: translateX(-50%);
  filter: none;

  transition: all .2s ease;


  border-radius: 0px;
}



.footer_container .cws-widget ul.menu li:before {
  background-color: rgba(79, 123, 112, 1);
}

.footer_container .cws-widget ul.menu li>a {
  padding: 10px 0px 12px;
  filter: drop-shadow(2px 2px 0px #4D433C);
  position: relative;
}

.footer_container .cws-widget ul li>a {
  color: #f7ebd5;
}


footer .cws-widget ul li a {
  line-height: 17px;
}


.cws-widget ul.menu li .cws_megamenu_item_title,
.cws-widget ul li a {

  display: flex;


  justify-content: space-between;




  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

footer a {
  transition: all 0.2s ease;
  text-decoration: none;
}


.footer_container .cws-widget ul.menu li>a:after {
  content: '\f17a';
  font-family: 'cwsicon';
  position: absolute;
  right: -24px;
  top: 49%;


  transform: translateY(-50%);
  font-size: 9px;
  pointer-events: none;
}

.footer_container .cws-widget ul.menu li:after {
  bottom: 0;
}

.footer_container .cws-widget ul.menu li:after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  display: block;
  left: 50%;


  transform: translateX(-50%);
  filter: none;


  transition: all .2s ease;


  border-radius: 0px;
} */





/* NAVIGATION */
.footer-div-nav nav {
  width: 80%;
  margin: 0 auto;
  background: transparent;
  padding: 50px 0;
  /* box-shadow: 0px 5px 0px #dedede; */
}

.footer-div-nav nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {

}

.footer-div-nav nav ul li a {
  display: block;
  font-family:  Barlow Condensed;
  font-size: 1.5rem;
  /* filter: drop-shadow(2px 2px 0px #a9cabc); */
  filter: drop-shadow(2px 2px 0px #4D433C);
  padding: 15px;
  text-decoration: none;
  color: #f7ebd5;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

.footer-div-nav nav ul li a,
.footer-div-nav nav ul li a:after,
.footer-div-nav nav ul li a:before {
  transition: all .5s;
}





/* stroke */
.footer-div-nav nav.stroke ul li a,
.footer-div-nav nav.fill ul li a {
  position: relative;
}

.footer-div-nav nav.stroke ul li a:after,
.footer-div-nav nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  /* background: #aaa; */
  background: rgb(47, 99, 97);
  height: 2px;
}

.footer-div-nav nav.stroke ul li a:hover:after {
  width: 100%;
}

@media(max-width:770px) {
  .footer-div-nav nav ul {
    flex-direction: column;
  }

  .footer-div-nav nav ul li{
    display: inline-block;
  }


}