/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  height: 100%;
  
  font-family: Barlow Condensed;
  
  background-image: url(assets/img/thankyou\ page\ bg.jpg);
}



.thank-page-template {
  background-color: #fff;
  
}

.thank-you-wrapper {
  position: relative;
  height: 100%;
}

.thank-you-wrapper>.container {
  width: 780px;
  margin: 0 auto;
}

.thank-you-wrapper {
  text-align: center;
  
}

.thank-you-page-content {
  position: relative;
  float: left;
  width: 100%;
  background: rgba(250, 237, 234, 0.6);
  
  padding: 90px;
  margin: 30px 0;
  box-sizing: border-box;
}



html body .thank-you-wrapper .container {
  display: table;
  height: 100%;
}

html body .thank-you-wrapper .container>.row {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.thank-you-page-logo {
  float: left;
  width: 100%;
}

.arrow-icon {
  position: relative;
  padding-left: 55px;
}

.arrow-icon::before {
  position: absolute;
  left: 25px;
  top: 20px;
  content: "";
  display: inline-block;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: #fff;
  border-width: 0px 1px 1px 0px;
  transform: rotate(131deg);
  transition: border-width 150ms ease-in-out;
}

.arrow-icon::after {
  content: "";
  display: inline-block;
  width: 20px;
  background-color: #fff;
  height: 1px;
  position: absolute;
  left: 25px;
  top: 25px;
}

.thank-you-wrapper ul.footer-nav li a,
.thank-you-wrapper ul.footer-nav li a:hover {
  color: #0a568a;
}

.thank-you-wrapper ul.footer-nav li+li::before {
  background: rgba(0, 0, 0, 0.3);
}

.thank-you-copy p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.thank-you-page-content h1 {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 45px;
  padding-top: 110px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.thank-you-page-content h1::before {
  content: "\f00c";
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  left: 50%;
  position: absolute;
  font-family: "FontAwesome";
  font-size: 60px;
  text-align: center;
  float: left;
  width: 100px;
  color: green;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 2px solid green;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
}

.thank-you-page-content .btn {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 25px;
}

ul.footer-nav {
  text-align: right;
}

ul.footer-nav li {
  display: inline-block;
  position: relative;
}

ul.footer-nav li+li {
  padding-left: 30px;
}

ul.footer-nav li+li::before {
  content: "";
  height: 12px;
  width: 1px;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 12px;
}

ul.footer-nav {
  text-align: center;
  margin: 12px 0;
}

ul.footer-nav li p,
ul.footer-nav li {
  font-size: 12px;
  font-weight: 400;
}

ul.footer-nav li a {
  text-decoration: none;
}

ul.footer-nav li a,
ul.footer-nav li a:hover {
  color: #fff;
}

ul.footer-nav li a:hover {
  color: #fff;
  text-decoration: underline;
}

ul.footer-nav li p {
  line-height: normal;
}

ul.footer-nav li+li::before {
  background: #fff;
}

.btn-primary {
  background-color: #0a568a;
  color: #fff;
  text-decoration: none;
  border-color: #0a568a;
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 25px;
}

.btn-primary::before {
  position: absolute;
  left: 25px;
  top: 20px;
  content: "";
  display: inline-block;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: #fff;
  border-width: 0px 1px 1px 0px;
  transform: rotate(131deg);
  transition: border-width 150ms ease-in-out;
}

.btn-primary::after {
  content: "";
  display: inline-block;
  width: 20px;
  background-color: #fff;
  height: 1px;
  position: absolute;
  left: 25px;
  top: 25px;
}




button {
  padding: 8px 12px;
  margin: 35px auto;
  font-size: 2rem;
  filter: drop-shadow(2px 2px 0px #a9cabc);

  font-family: Barlow Condensed;
  border: none;
  border-top: 3px dashed #224a49;
  border-bottom: 3px dashed #224a49;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: #224a49;
}


.dot {
  
  border-radius: 50%;
  display: inline-block;
  transition: all 0.2s;
  margin: auto;
  
}

button:hover {
  
  color: #e53e26;
  border-top: 3px dashed #e53e26;
  border-bottom: 3px dashed #e53e26;
}

button a {
  color: #224a49;
  transition: all 0.3s;
  
}

button a:hover {
  color: #e53e26;
}


button:hover .dot {
 
  color: #e53e26;
}


#chomu69 {
  filter: drop-shadow(2px 2px 0px #a9cabc);
  font-size: 3rem;
}



@media (max-width:770px) {
  


  .thank-you-page-content {
    position: relative;
    float: left;
    width: 100%;
    background: rgba(250, 237, 234, 0.6);

    box-sizing: border-box;
  }
} */



@font-face {
  font-family: 'Cream Opera';
  src: local('Cream Opera Bold'), local('Cream-Opera-Bold'),
    url('OperaBold.woff2') format('woff2'),
    url('OperaBold.woff') format('woff'),
    url('OperaBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* .loading::-webkit-scrollbar {
    display: none;
  } */
.preloader_bg {
  height: 101vh;
  width: 100%;
  /* font-family: 'Roboto'; */
  background-image: url(assets/img/Footer_bg_220.jpg);
  background-size: initial;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center center;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }

  50%,
  100% {
    background-color: #ebe6ff;
  }
}


.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e8e5bc;
  font-size: 5rem;
  font-family: Barlow Condensed;
  letter-spacing: 0.5rem;
  /* filter: drop-shadow(); */

}

.star {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  /* opacity: 0.6; */
  -webkit-text-stroke-color: #e8e5bc;
}

.star:nth-child(1) {
  animation: loading 1.8s linear infinite;
  animation-delay: 0s;
}

.star:nth-child(2) {
  animation: loading 1.8s linear infinite;
  animation-delay: 0.3s;
}

.star:nth-child(3) {
  animation: loading 1.8s linear infinite;
  animation-delay: 0.6s;
}

.star:nth-child(4) {
  animation: loading 1.8s linear infinite;
  animation-delay: 0.9s;
}

.star:nth-child(5) {
  animation: loading 1.8s linear infinite;
  animation-delay: 1.2s;
}

.star:nth-child(6) {
  animation: loading 1.8s linear infinite;
  animation-delay: 1.5s;
}

@keyframes loading {

  30%,
  100% {
    opacity: 1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #e8e5bc;
    /* transform: translate(200px, 0); */
  }

  0% {
    opacity: 1;
  }

  5% {
    opacity: 1;
    -webkit-text-fill-color: #f15232;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #f15232;
  }
}







@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,900");

* {
  box-sizing: border-box;
  /* outline:1px solid ;*/
}

body {
  background-image: url(assets/img/thankyou\ page\ bg.jpg);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Barlow Condensed;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s linear 0s;
}

.wrapper-1 {
  background-color: rgba(255, 255, 255, 0.3);

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper-2 {
  /* margin-top: 30px; */
  padding: 30px;
  text-align: center;
}

h1 {

  font-size: 4em;
  font-weight: 900;
  letter-spacing: 3px;
  color: #fafafa;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

.wrapper-2 p {
  margin: 0;
  font-size: 1.3em;
  color: #fafafa;
  /* font-family: "Raleway", sans-serif; */
  letter-spacing: 1px;
  line-height: 1.5;
}

.go-home {
  background: #e83890;
  border: none;
  padding: 25px 30px;
  margin: 30px 0;
  border-radius: 5px;
  cursor: pointer;
}

.go-home:hover {
  opacity: 0.9;
}

.go-home a {
  /* font-family: "Raleway", Arial Black; */
  font-size: 1rem;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-like {
  margin-top: auto;
  background: rgb(31, 38, 130);
  padding: 6px;
  text-align: center;
}

.footer-like p {
  margin: 0;
  padding: 4px;
  color: #fafafa;
  /* font-family: "Raleway", sans-serif; */
  letter-spacing: 1px;
}

.footer-like p a {
  text-decoration: none;
  color: #5892ff;
  font-weight: 600;
}

.footer-like p a:hover {
  color: #fff;
}

@media (min-width: 360px) {
  h1 {
    font-size: 4.5em;
  }

  .go-home {
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) {
  .thankyoucontent {
    max-width: 1000px;
    margin: 0 auto;
  }

  .wrapper-1 {
    height: initial;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 50px;
  }


}


@media (max-width:600px) {
  .wrapper-1 {
    /* margin-top: 10vh; */

  }
}



button {
  padding: 8px 12px;
  margin: 35px auto;
  font-size: 2rem;
  filter: drop-shadow(2px 2px 0px #a9cabc);

  font-family: Barlow Condensed;
  border: none;
  border-top: 3px dashed #224a49;
  border-bottom: 3px dashed #224a49;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: #224a49;
}


.dot {

  border-radius: 50%;
  display: inline-block;
  transition: all 0.2s;
  margin: auto;

}

button:hover {

  color: #e53e26;
  border-top: 3px dashed #e53e26;
  border-bottom: 3px dashed #e53e26;
}

button a {
  color: #224a49;
  transition: all 0.3s;

}

button a:hover {
  color: #e53e26;
}


button:hover .dot {

  color: #e53e26;
}


#chomu69 {
  filter: drop-shadow(2px 2px 0px #a9cabc);
  font-size: 3rem;
  align-items: center;
  text-align: center;
}


.tick::before {
  content: "\f00c";
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  left: 50%;
  position: relative;
  font-family: "FontAwesome";
  font-size: 60px;
  text-align: center;
  float: left;
  width: 100px;
  color: rgb(4, 158, 4);
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 2px solid rgb(4, 158, 4);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
}

h1 {
  margin-top: 0 !important;
}